# Dependances
node_modules/

# Build
dist/
build/

# Environnement
.env
.env.local
*.env
!.env.example

# Journaux
*.log
npm-debug.log*

# Sauvegardes locales
.sauvegardes/

# Systeme
.DS_Store
Thumbs.db

# Editeurs
.vscode/
.idea/
*.swp
