# Port sur lequel l'application sera lancée
PORT=3000

# Clé secrète pour signer les JWT (à personnaliser)
JWT_SECRET=

# URL de connexion à ta base de données PostgreSQL
DATABASE_URL=

# URL de base de l'API École Directe
ECOLEDIRECTE_API_BASE_URL=https://api.ecoledirecte.com
